.reply-comment {
  margin-left: 90px;
  
}
.restaurant-title {
  margin:2%;
<<<<<<< HEAD
  h2 {
    font-weight: bold;
    
  }
=======
  
>>>>>>> michaela2
}
.con {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}


.button-style {
  margin: 6px;
  padding: 0.5rem 0.7rem;
  border: thin #C98474;
  background-color: #C98474;
  color: whitesmoke;
  border-radius: 12px;
  box-shadow: 2px 2px 5px grey;
}
.button-style:hover {
  background-color: rgb(173, 86, 66);
  color: white;
}

.comment-section {
  width: 50%;
  margin: 4% 5%;

}
.user-img{
  width: 80px;
  margin:0 7px 5px 0;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.comment-head {
  margin-left: 2%;
  margin-bottom: 2%;
  
}

.comment-body {
  margin-left: 5%;
  
}
.reply-comment {
  margin-top:2%;
  margin-left: 25%;
}
.display-reply-comment {
  margin-left: 15%;
}
.form-comment {
  margin-left: 5%;
  width: 90%; 
  height: 15%; 
  border-radius: 1px solid grey;
  
}

.deleteBTN {
  margin-top: 1%;
  margin-left: 75%;
}
.submitBTN {
  
  margin-top: 1%;
  margin-left: 83%;
}
.btn2 {
  margin: 15% 25%;
}
.hr {
  width: 110%; 
  background-color: gray;
}
.hr2 {
  margin-left: -6%;
  width: 120%; 
  background-color: gray;
}
.login-to-comment {
  text-align: end;
  margin: 7%;
  
}

.comment-time{
  font-size: 0.7rem;
  font-weight: lighter;
  color: #C98474;
  text-shadow: 0.5px 0.5px rgb(167, 161, 161);
  margin-top: 1%;
}

.comment-name{
  font-size: 1.5rem;
  font-weight: bolder;
  color: #874C62;
  text-shadow: 0.2px 0.5px rgb(167, 161, 161);
}

.comments-title{
  color: #C98474;
  text-shadow: 0.5px 0.5px rgb(167, 161, 161);
}