html{
  background-color:#A7D2CB80 ;
}
button{
  margin:10px 0;
}
.active-purple input[type=text] {
  border-bottom: 1px solid #A7D2CB;
  box-shadow: 0 1px 0 0 #A7D2CB;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #A7D2CB;
}

nav.navbar{
  background-color: #874C62;
  color: whitesmoke;
  a{
    text-decoration: none;
    color: whitesmoke;
  }
  
  .dropdown-menu-right {
  background-color: #C98474;
  }
}

.navbar-light .navbar-brand{
    color: seashell;
    }

.search-area{
  display: flex;
  align-items: center;
  margin: 10px;
  width: 80%;
}
