@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

ul {
    padding:0;
    list-style: none;
}
.footer-copyright {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #874C62;
    padding-bottom: 1em;
}

.footer-social-icons {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background:#874C62;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin: 0 0;
}
@media (max-width: 600px) { 
    .footer-social-icons {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 2em;
    }
}
.social-icon {
    color: #fff;
    font-size: 2em;
}

ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 19px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #874C62;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #874C62;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #874C62;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    margin-right: 7px;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #874C62;
}
.fa-github:hover {
    background-color: #5a32a3;
}